a:hover {
  text-decoration: none;
}

.comments-header > div {
  margin: 0;
  line-height: 50px;
}

.comments-header div:nth-child(even),
.comment-title div:nth-child(even) {
  text-align: right;
}

.comment-name {
  font-weight: bold;
}

.comment-msg {
  margin: 2% 5%;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 9999;
}

.loading > img {
  position: absolute;
  top: 0;
  left: 40%;
}

.lyric-num, .lyric-line {
  display: inline-block;
}

.lyric-num {
  font-weight: bold;
}

.main-track-stats {
  line-height: 100px;
}

.highlight:hover {
  background-color: #f0f0f0;
}

.track-stats {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .main-track-stats {
    line-height: 50px;
  }
}