a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
}

.main-song-stats {
  line-height: 100px;
}

@media (max-width: 767px) {
  .main-song-stats {
    line-height: 50px;
  }
}