/*
MAIN COLORS

purple
  color: #9132b2;
red
  color: #f43030;
blue
  color: #4c6ecc;

*/

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none; !important
}

.bottom-title-fill {
  background-color: #9132b2;
  height: 3em;
}

.comments-header > div {
  margin: 0;
  line-height: 50px;
}

.comments-header div:nth-child(even),
.comment-title div:nth-child(even) {
  text-align: right;
}

.comment-name {
  font-weight: bold;
}

.comment-msg {
  margin: 2% 5%;
}

.fa-star-o {
  width: 30px;
  font-size: 1.5em;
  cursor: pointer;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
}

.hr-container {
  padding-top: 6px;
  height: 50px;
  width: 100%;
  margin: none;
}

.hr-purple, .hr-red, .hr-blue {
  margin: 6.5px 0;
  border-width: 4px;
}

.hr-purple {
  border-color: #9132b2;
}

.hr-red {
  border-color: #f43030;
}

.hr-blue {
  border-color: #4c6ecc;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  z-index: 9999;
}

.loading > img {
  position: absolute;
  top: 0;
  left: 40%;
}

.login-button {
  text-align: center;
  margin-top: 20%;
}

.login-button button {
  font-size: 1.8em;
}

.lyric-num, .lyric-line {
  display: inline-block;
}

.lyric-num {
  font-weight: bold;
}

.main-title {
  color: #9132b2;
  font-size: 35px;
  position: absolute;
  margin: 0;
  background-color: white;
  border-left: solid white 5px;
  border-right: solid white 5px;
  top: 0;
  right: 10%;
}

.main-title:hover {
  color: #4c6ecc;
}

.main-title-row {
  position: relative;
}

.main-track-stats {
  line-height: 100px;
}

.navButton {
  color: white;
  font-size: 1.2em;
  padding: 10px;
  border: none;
  font-variant: small-caps;
  margin: 0;
  display: block;
  float: left;
  background: none;
}

.navButton:hover {
  color: #4c6ecc;
}

.navSplitter {
  color: white;
  font-size: 1.2em;
  display: block;
  float: left;
  padding: 10px 0;
}

.highlight:hover {
  background-color: #f0f0f0;
}

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #9132b2;
}

.searchContainer {
  clear: both;
  text-align: center;
}

.searchContainer input {
  margin-top: 1em;
  font-size: 2em;
  border: solid black 3px;
  width: 50%;
  text-align: center;
}

.track-stats {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .main-track-stats {
    line-height: 50px;
  }
}

@media (max-width: 550px) {
  .main-title {
    right: 0;
  }
}