<div class="container-fluid" ng-repeat="track in playlist">
  <a ui-sref="track({id:'{{linkify(track.track.name)}}'})">
  <div class="row">
    <div class="col col-sm-6">
      <div class="h2">
        {{track.track.name}}<br/>
        <small><strong>{{track.track.artists[0].name}}</strong></small>
      </div>
    </div>
    <div class="main-song-stats col-xs-6 col-sm-3">
      rating
    </div>
    <div class="main-song-stats col-xs-4 col-sm-2">
      comments
    </div>
    </a>
    <div class="main-song-stats col-xs-2 col-sm-1">
      play
    </div>
  </div>
</div>

<!--
<table class="table table-hover">
  <tr ng-repeat="track in playlist">
    <a ui-sref="track({id:'{{track.track.name}}'})">
    <td>
      <h3>
        {{track.track.name}}<br>
        <small><strong>{{track.track.artists[0].name}}</strong></small>
      </h3>
    </td>
    <td class="col-xs-2">
      comments
    </td>
    <td class="col-xs-3">
      rating
    </td></a>
    <td class="col-xs-1">
      play
    </td>
  </tr>
</table>
-->


