<div class="searchContainer">
  <input ng-model="search" ng-change="searchSpotify()" placeholder="Search for any song">
</div>

<div class="waitingMessage" ng-if="!search">
  <div>Your search results will show up here.</div>
  <div class="red">Search <span class="purple">any song</span> you want.</div>
  <div>No really, go ahead.</div>
</div>

<div class="container-fluid" ng-if="search" ng-repeat="track in searchData.tracks.items">
  <div class="row">
    <a ui-sref="tracks({id:'{{track.id}}'})">
    <div class="col col-sm-6">
      <div class="h2">
        {{track.name}}<br/>
        <small><strong>{{track.artists[0].name}}</strong></small>
      </div>
    </div>
    <div class="main-track-stats track-icon col-xs-3 red">
        <i class="fa fa-comment red"></i>
    </div>
    </a>
    <div class="main-track-stats track-icon col-xs-3 red">
      <i class="fa fa-play-circle-o red" ng-click="previewTrack(track.preview_url)"></i>
    </div>
  </div>
</div>
