<div class="waitingMessage" ng-if="!playlist">
  You must be <span class="red">logged in</span> to see the sample page.
</div>

<div class="container-fluid" ng-repeat="track in playlist">
  <div class="row">
    <a ui-sref="tracks({id:'{{track.track.id}}'})">
    <div class="col col-sm-6">
      <div class="h2">
        {{track.track.name}}<br/>
        <small><strong>{{track.track.artists[0].name}}</strong></small>
      </div>
    </div>
    <div class="main-track-stats track-icon col-xs-3 red">
        <span class="track-comment-count">{{commentCounts[$index].length}}</span>
        <i class="fa fa-comment red"></i>
    </div>
    </a>
    <div class="main-track-stats track-icon col-xs-3 red">
      <i class="fa fa-play-circle-o red" ng-click="previewTrack(track.track.preview_url)"></i>
    </div>
  </div>
</div>
