<div class="loading" ng-if="!loaded" >
  <img src="https://d13yacurqjgara.cloudfront.net/users/12755/screenshots/1037374/hex-loader2.gif">
</div>

<div class="track-header">
  <h1 class="track-title">{{spotifyTrack.name}}</h1>
  <div class="track-stats container-fluid">
    <div class="track-rating row">
      <div class="fa-stars col-xs-12"><!--TODO: average rating-->
        <star-rating class="star-rating" rating-value="rating" max="5" on-rating-selected="rateTrack(rating)"></star-rating>
      </div>
    </div>
    <div class="row">
     <div class="col-xs-4"></div>
      <div class="track-icon col-xs-2 red">
        <a href="{{spotifyTrack.preview_url}}">
          <i class="fa fa-play-circle-o red" ng-click="previewTrack(spotifyTrack.id)"></i>
        </a>
      </div>
      <div class="track-icon col-xs-2 red">
        <a href="#/tracks/{{spotifyTrack.id}}#comments">
          <span class="track-comment-count red">{{comments.length}}</span>
          <i class="fa fa-comment red"></i>
        </a>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div ng-repeat="line in trackData.lyrics track by $index">
    <div class="row highlight">
      <div class="lyric-num col-xs-1">{{$index + 1}}</div>
      <div><!-- this div improves copy/paste lyrics experience -->
        <div class="lyric-line col-xs-10">{{line}}</div>
      </div>
    </div>
  </div>
</div>

<div id="comments" class="comments-container container-fluid">
  <div class="comments-header row">
    <div class="comments-header-title h4 col-xs-9">COMMENTS</div>
    <div class="add-comment col-xs-3" ng-click="addComment()">Add Comment</div>
  </div>
  
  <div class="add-comment-form" ng-show="showAddCommentForm">
    <form>
      <div class="add-comment-tag">Insert your two cents</div>
      <textarea ng-model="newComment" focus="focusInput"></textarea>
      <div class="btn-group btn-group-justified" role="group" aria-label="comment buttons">  
        <a href="#" class="btn btn-success btn-sm" role="button" ng-click="submitComment()">Submit</a>
        <a href="#" class="btn btn-danger btn-sm" role="button" ng-click="showAddCommentForm = false">Cancel</a>
      </div>
    </form>
  </div>
  
  <div ng-repeat="comment in comments | orderBy:'-timestamp'">
    <div class="comment-title row">
      <div class="comment-name col-xs-6">{{comment.name}}</div>
      <div class="comment-date col-xs-6 blue">{{showTimestamp(comment.timestamp)}}</div>
    </div>
    <div class="comment-msg">{{comment.comment}}</div>
    <hr>
  </div>
</div>


